<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<h1> List of products </h1>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="ui card">
        <div class="image">
          <img src="https://images.unsplash.com/uploads/141219324227007364f95/be0967a3?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1250">
        </div>
        <div class="content">
          <a class="header">Canon C1</a>
          <div class="meta">
            <span class="date">Published in 2013</span>
          </div>
          <div class="description">
            Simply provide the best shot for you
          </div>
        </div>
        <div class="extra content">
          <a>
            <i class="user icon"></i>
            $550
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="ui card">
        <div class="image">
          <img src="https://images.unsplash.com/uploads/141219324227007364f95/be0967a3?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1250">
        </div>
        <div class="content">
          <a class="header">Canon C2</a>
          <div class="meta">
            <span class="date">Published in 2013</span>
          </div>
          <div class="description">
            Simply provide the best shot for you
          </div>
        </div>
        <div class="extra content">
          <a>
            <i class="user icon"></i>
            $550
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="ui card">
        <div class="image">
          <img src="https://images.unsplash.com/uploads/141219324227007364f95/be0967a3?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1250">
        </div>
        <div class="content">
          <a class="header">Canon C3</a>
          <div class="meta">
            <span class="date">Published in 2013</span>
          </div>
          <div class="description">
            Simply provide the best shot for you
          </div>
        </div>
        <div class="extra content">
          <a>
            <i class="user icon"></i>
            $550
          </a>
        </div>
      </div>
    </div>

  </div>
</div>